<html>
    <head>
        <title>COMMENT</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
        <script>
          function details(id, comm, name, cust, admin, reply, per) {
            document.getElementById("txtID").value = id;
            document.getElementById("txtComment").value = comm;
            document.getElementById("txtPName").value = name;
            document.getElementById("txtCustomer").value = cust;
            document.getElementById("txtReply").value = reply;
            if (per === "1"){
            document.getElementById("btnDelete").style.display = "inline";
            document.getElementById("txtAdmin").value = admin;
            } else {
            document.getElementById("btnReply").style.display = "inline";
            }
          }
        </script>
    </head>
    <body class="admin">
        <%- include('./_menu.ejs') %>
        <%var per = session.admin.permission%>
        <div class="float-left">
            <h2 class="text-center">COMMENT LIST</h2>
            <table class="datatable" border="1">
                <tr class="datatable">
                    <th>Id</th>
                    <th>comment</th>
                    <th>Product Name</th>
                    <th>Customer</th>
                    <% if (per === "1") { %>
                    <th>Admin</th>
                    <% } %>
                    <th>Reply</th>
                </tr>
                  <%  for (var item of all) {  %>
                    <% if (per === "1" || session.admin.username === item.product.admin) { %> 
                  <tr class="datatable" onclick="details('<%=item._id%>', '<%=item.comment%>','<%=item.product.name%>', '<%=item.customer%>', '<%=item.product.admin%>','<%=item.reply%>', '<%=per%>')">
                    <td><%=item._id%></td>
                    <td><%=item.comment%></td>
                    <td><%=item.product.name%></td>
                    <td><%=item.customer%></td>
                    <% if (per === "1") { %>
                    <td><%=item.product.admin%></td>
                    <% } %>
                    <td><%=item.reply%></td>
                  </tr>
                  <% } %>
                  <% } %>
                </table>
              </div>
              <div class="inline" style="width: 40px"></div>
              <div class="float-right">
                <h2 class="text-center">COMMENT DETAIL</h2>
                <form method="POST">
                  <table>
                    <tr>
                      <td>Id</td>
                      <td><input type="text" id="txtID" name="txtID" readonly /></td>
                    </tr>
                    <tr>
                      <td>Comment</td>
                      <td><input type="text" id="txtComment" name="txtComment" readonly />
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name</td>
                      <td><input type="text" name="txtPName" id="txtPName" readonly></td>
                    </tr>
                    <tr>
                      <td>Customer</td>
                      <td><input type="text" id="txtCustomer" name="txtCustomer" readonly />
                      </td>
                    </tr>
                    <tr>
                      <td>Replay</td>
                      <% if (per === "1") { %>
                        <td><input type="text" name="txtReply" id="txtReply" readonly></td>
                      <% } else { %>
                        <td><input type="text" name="txtReply" id="txtReply"></td>
                      <% } %>
                    </tr>
                    <% if (per === "1") { %>
                    <tr>
                      <td>Admin</td>
                      <td><input type="text" name="txtAdmin" id="txtAdmin" readonly></td>
                    </tr>
                    <% } %>
                    <tr>
                      <td></td>
                      <td>
                        <% if (per === "1") { %>
                        <input type="submit" id="btnDelete" formaction="./deletecomment" value="DELETE"  style="display: none" onclick="return confirm('ARE YOU SURE?')" />
                        <% } else { %>
                        <input type="submit" id="btnReply" formaction="./replycomment" value="REPLY" style="display: none"/>
                        <% } %>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
              <div class="float-clear"></div>
    </body>
</html>