<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">PRODUCT DETAILS</h2>
    <figure class="caption-right">
      <img src="data:image/jpg;base64,<%=prod.image%>" width="384" height="256" />
      <figcaption>
        <form action="./add2cart" method="POST">
          <table>
            <tr>
              <td align="right">ID:</td>
              <td><%=prod._id%></td>
            <tr>
            <tr>
              <td align="right">Name:</td>
              <td><%=prod.name%></td>
            <tr>
            <tr>
              <td align="right">Price:</td>
              <td><%=prod.price%></td>
            <tr>
            <tr>
              <td align="right">Category:</td>
              <td><%=prod.category.name%></td>
            <tr>
            <tr>
              <td align="right">Quantity:</td>
              <td><input type="number" name="txtQuantity" value="1" min="1" max="99" required /></td>
            <tr>
            <tr>
              <td><input type="hidden" name="txtID" value="<%=prod._id%>" /></td>
              <td><input type="submit" value="ADD TO CART" /></td>
            </tr>
          </table>
        </form>
        
      </figcaption>
    </figure>
    <h2 class="text-center">COMMENTS</h2>
    <form>
      <%if (checkbuyproduct) { %>
          <input type="text" name="txtComments" id="txtComment">
          <input type="submit" value="POST COMMENT" formaction="../addcomment/?id=<%=prod._id%>" formmethod="POST">
          <% } %>
            <%for (var comm of comments) {  %>
              <table class="text-center">
            <tr>
              <form>
                <td><%=comm.customer%>:</td>
                <%if (cust == comm.customer) { %>
                  <td><input type="text" name="txtComment" id="txtComment" value="<%=comm.comment%>"></td>
                  <tr>
                    <td></td>
                    <td ><input type="submit" value="&#xf040;" class="fa fa-pencil" formaction="../editcomment/?id=<%=comm._id%>" formmethod="POST"></i>
                      <input type="submit" value="&#xf1f8;" class="fa fa-trash" formaction="../deletecomment/?id=<%=comm._id%>" formmethod="POST"></td>
                </tr>
                <% } else { %>
                  <td><input type="text" value="<%=comm.comment%>" readonly></td>
                <% } %>
              </form>
            </tr>
          </table>
          <table>
            <form>
              <tr>
                <td><input type="text" name="txtReply" id="txtReply" value="Reply: <%=comm.reply%>" readonly></td>
              </tr>
            </form>
          </table>
        <% } %>
    </form>
    <h2 class="text-center">QUESTION</h2>
    <form>
          <input type="text" name="txtComments" id="txtComment">
          <input type="submit" value="POST COMMENT" formaction="../addcomment/?id=<%=prod._id%>" formmethod="POST">
          <table class="text-center">
            <%for (var comm of comments) {  %>
            <tr>
              <form>
                <td><%=comm.customer%>:</td>
                <%if (cust == comm.customer) { %>
                  <td><input type="text" name="txtComment" id="txtComment" value="<%=comm.comment%>"></td>
                  <tr>
                    <td></td>
                    <td ><input type="submit" value="&#xf040;" class="fa fa-pencil" formaction="../editcomment/?id=<%=comm._id%>" formmethod="POST"></i>
                      <input type="submit" value="&#xf1f8;" class="fa fa-trash" formaction="../deletecomment/?id=<%=comm._id%>" formmethod="POST"></td>
                </tr>
                <% } else { %>
                  <td><input type="text" value="<%=comm.comment%>" readonly></td>
                <% } %>
              </form>
            </tr>
            <% } %>
          </table>
    </form>
  </div>
  
  <%- include('./_footer.ejs') %>
</body>

</html>